#cw {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  text-align: right;
}
#c {
  height: 85px;
  width: 85px;
  bottom: 2vh;
  right: 2vw;
  border-radius: 50%;
  border: none;
  background: #bf5fff;
  color: #fff;
  box-shadow: 0 2px 5px #424242;
  transform: scale(1);
  transition: all 150ms ease;
  outline: 0;
  font-size: 14px;
}
#c span {
  display: block;
  font-size: 20px;
  transform: scale(1);
  transition: transform 150ms ease;
}
#c:hover span,
.copen #c span {
  transform: scale(1.25);
}
#clst {
  text-align: right;
  transition: all 150ms ease;
  opacity: 0;
  transform: scale (0.1);
  margin-right: 1vw;
  transform-origin: bottom;
  transform: translate(0, 20px);
  background-color: pink;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
}
.copen #c {
  color: #000;
  background: #ed93ff;
  transform: scale(0.8);
}
.copen #clst {
  transform: scale(1);
  display: block;
  transition: all 150ms ease;
  opacity: 1;
  transform-origin: bottom;
}
a {
  color: #000;
  font-family: inherit;
  text-decoration: none;
}
